.login_image{
    height: 750px;
}

.btn-light{
    background-color: #fda6bd;
    color: white;
    border: none;
    margin: 0px 8px;
}

.is-invalid{
    font-size: 9pt;
    margin: 0px 8px;
    color: #fda6bd;
    height: 15px; 
    position: relative;
    top: 10px;
}

#top_row{
    height: 0px;
}

#login_row{
    padding-top: 10px 0px 0px;
    position: relative;
}

.col-sm{
    height: 0px;
}
.col-sm-4{
    font-size: 10pt;
}

.form-control{
    margin: 0px 8px;
}

.form-inline h1{
    color: #fda6bd;
    font-weight: normal;
    margin: 0px 5px;
}
.col-sm-4{
    color: #fda6bd;
    font-weight: normal;
    margin-top: 20px;
}
.container{
    height: auto;
}

.container img{
    width: 250px;
}

h2{
    color: #fda6bd;
    font-weight: normal;
}


.col-sm{
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light a{
    color: #fda6bd;
    font-weight: lighter;
}

.navbar-brand a{
    padding: 0px;
    color: #fda6bd;
}

.col-sm a{
    display: block;
    margin: 5px;
    text-align: center;
    color: #fda6bd;
}

a{
    color: #fda6bd;
    font-weight: lighter;
    padding: 0px 20px;

}

.logo{
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid #f8f9fa;
}

.logo img{
    width: 400px;
    
}

.footer{
    text-align: center;
    height: 20px;
    margin: 30px 0px;
}

.footer img{
    width: 25px;
    display: inline-block;
    margin: 10px 5px;
}


/* .recipe_info h4{
    text-transform: capitalize;
} */