* {
  font-family: "Sen", sans-serif;
  color: #343434;
}

.login_image {
  height: 750px;
}

.btn-light {
  background-color: #90c21e;
  color: white;
  border: none;
  margin: 0px 8px;
}

.is-invalid {
  font-size: 9pt;
  margin: 0px 8px;
  color: #90c21e;
  height: 15px;
  position: relative;
  bottom: -50px;
  padding-left: 20px;
}

#top_row {
  height: 0px;
}

#login_row {
  padding-top: 10px 0px 0px;
  position: relative;
}

.col-sm {
  height: 0px;
}
.col-sm-4 {
  font-size: 10pt;
}

.form-control {
  margin: 0px 8px;
}

#brand {
  /* background-color: #f1d543; */
  background-color: #90c21e;
  color: white;
  font-size: 30px;
}

.form-inline h1 {
  color: #90c21e;
  font-weight: normal;
  margin: 0px 5px;
}
.col-sm-4 {
  color: #90c21e;
  font-weight: normal;
  margin-top: 20px;
}
.container {
  height: auto;
}

.container img {
  width: 250px;
}

h2 {
  color: #90c21e;
  font-weight: normal;
}

.col-sm {
  width: 200px;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  width: 100%;
  background-color: white !important;
  box-shadow: 2px 2px 2px #f2f2f2;
  padding: 0px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
  color: #90c21e;
  font-weight: lighter;
}

.navbar-brand a {
  padding: 0px;
  color: #90c21e;
}

.col-sm a {
  display: block;
  margin: 5px;
  text-align: center;
  color: #90c21e;
}

a {
  color: #90c21e;
  font-weight: lighter;
  padding: 0px 20px;
}

.logo {
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid #f8f9fa;
}

.logo img {
  width: 400px;
}

.footer {
  text-align: center;
  height: 20px;
  margin: 30px 0px;
}

.footer img {
  width: 25px;
  display: inline-block;
  margin: 10px 5px;
}

/* .recipe_info h4{
    text-transform: capitalize;
} */
