<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fancy/css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Sen&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".card").mouseenter(function() {
          $(this).css("background-color", "#8fc31e38");
        });
        $(".card").mouseleave(function() {
          $(this).css("background-color", "white");
        });
        $(".btn-link").hover(function() {
          $(this).css("color", "white"), $(this).css("text-decoration", "none");
        });

        //  ATTEMPTED AJAX TO ADD AND REMOVE RECIPES WITHOUT A REFRESH
        // $('form').submit(function(e){
        //     e.preventDefault()
        //     str = e['target']['action']
        //     console.log(str)
        //     str = str.substring(22, str.length)
        //     console.log(str)
        //     $.ajax({
        //         url: str,
        //         method: 'post',
        //         data: $(this).serialize(),
        //         success: function(serverResponse){
        //             console.log(serverResponse)
        //             $('.like').html(serverResponse)
        //             $('.unlike').html(serverResponse)
        //         }
        //     })
        // })
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" id="brand">Recipe Box</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li>
            <a class="nav-item active" href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a class="nav-item active" href="/user/{{user_id}}"
              >Your Recipe Box</a
            >
          </li>
        </ul>
        <span><a class="nav-link" href="/logout">Log Out</a></span>
      </div>
    </nav>
    <div class="container">
      <div class="heading">
        <!-- <h1 id="brand">Recipe Box</h1> -->
        <h1>Hello, {{user_name}}!</h1>
        <!-- <img src="{% static 'fancy/images/logo.png' %}" alt="logo" /> -->
      </div>
      {% for recipe in all_recipes %}
      <div class="card" style="width: 250px;">
        <a href="/recipes/{{recipe.id}}"
          ><img src="{{ recipe.photo.url }}" alt="{{ recipe.title }}"
        /></a>
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <div class="like">
            {% if recipe in unliked_recipes %}
            <form action="/recipes/{{recipe.id}}/like" method="post">
              {% csrf_token %}<button
                type="submit"
                class="btn btn-link shadow-none"
              >
                ♥ Add to Recipe Box
              </button>
            </form>
            {% endif %}
          </div>
          <div class="unlike">
            {% if recipe in liked_recipes %}
            <form action="/recipes/{{recipe.id}}/unlike" method="post">
              {% csrf_token %}<button
                type="submit"
                class="btn btn-light shadow-none"
              >
                Remove from Recipe Box
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
